@model WebApplication4.Models.ContactInfo

<h2>Contact Details</h2>

<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Email: @Model.EmailId</p>
<p>Mobile: @Model.MobileNo</p>
<p>Designation: @Model.Designation</p>
<p>Company: @Model.CompanyName</p>
<p>Department: @Model.DepartmentName</p>

<a asp-action="ShowContacts">Back</a>